[Unit]
Description=Iserver - ICQ compatible server for groups of users
Documentation=https://web.archive.org/web/20211127054413/http://iserverd.khstu.ru/
Requires=postgresql.service
After=postgresql.service 

[Service]
Type=simple
User=iserverd
WorkingDirectory=/etc/iserverd
RuntimeDirectory=iserverd
RuntimeDirectoryMode=0755
# Run in foreground for systemd (Server mode = STANDALONE in iserv.conf)
ExecStart=/usr/bin/iserverd -c /etc/iserverd/iserv.conf -d /tmp/iserverd_debug.log
#Restart=on-abnormal

[Install]
WantedBy=multi-user.target
